@use "@assets/styles/variables" as var;

.courses {
  align-self: stretch;

  .courses_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 48px;

    background: var.$PRIMARY100;
    align-self: stretch;

    font: var.$FONT_H2;
    color: var.$AVOCADO_DARK;
  }

  .courses_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px 36px 84px;
    gap: 36px;

    background: var.$GRAY050;
    align-self: stretch;

    .note {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px;
      background: var.$PRIMARY200;

      font: var.$FONT_H3;
      color: var.$AVOCADO_DARK;
    }
  }
}
