@use "@assets/styles/variables" as var;

.tab {
  font-family: var.$NOTO_SANS_JP;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var.$GRAY700;
}
