@use "@assets/styles/variables" as var;

.tab {
  font-family: var.$NOTO_SANS_JP;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  color: var.$AVOCADO_DARK;
  transition: 0.1s;

  &:hover {
    color: var.$PRIMARY900;
    text-decoration: underline;
  }
}
